body {
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background: #232323;
    background-image: url("https://cdn.wallpapersafari.com/56/18/bQC02R.jpghttps://github.com/gaebar/js-test/blob/master/img/background.jpeg?raw=true");
  }
  div {
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
  }
  h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 45px;
    color: #aaaaaa;
    margin: 60px 0 0 0;
  }
  h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #bbbbbb;
    margin: 0px 0 70px 0;
    padding-top: 20px;
    font-size: 15px;
  }
  p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  
  small {
    opacity: 0;
  }
  
  .show-description p {
    height: 150px;
  }
  
  .show-description small {
    opacity: 1;
  }
  
  .first{
    background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover1.png?raw=true");
  }
  .second{
    background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover2.jpg?raw=true");
  }
  .third{
    background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover3.png?raw=true");
  }
  .price {
    float: right;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
    small {
      font-size: 16px;
    }
  }
  footer {
    text-align: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
    border-top: 3px solid #00008b0b;
    padding-top: 24px;
    background-color: #ffffff7a;
  }
  a {
    text-decoration:none;
    font-weight:bold;
    color: 0px 10px 0px 10px;
  }
  a:hover {
    text-decoration: underline;
  }
  .footer-love em{
    font-style: normal;
    color: #840f0f;
  }