body {
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: #232323;
  background-image: url("https://github.com/gaebar/js-test/blob/master/img/background.jpg?raw=true");
  background-size: cover;
  background-position: 50%;
  color: #2f4506;
  width: 90%;
}

body>div {
  display: block;
  height: 100%;
  margin: 0 auto;
}

article {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 10px;
}

h1 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 60px 0 0 0;
}

h2 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  margin: 0px 0 70px 0;
  padding-top: 20px;
  font-size: 20px;
}

article p {
  color: rgba(255, 255, 255, 1);
  background: black;
  /*
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
  */
  /*
  Checking via the Chrome inpsector, I have noticed an error in the CSS panel, therefore 
  I have replaced the rule with the rule found at 
  https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient
  no need for compatibility with IE9 and below
   */
  background: linear-gradient(#5f2626c4, #735d38db);
  padding: 10px;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 16px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  line-height: 17px;
  width: 385px;
  cursor: pointer;
  font-weight: bold;
  overflow: scroll;
}

@media only screen and (max-width: 700px) {
  article p {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 36px;
    font-size: 15px;
  }
}

small {
  opacity: 0;
  display: block;
  margin-top: 5px;
  padding-right: 50px;
  font-weight: normal
}

.show-description p {
  height: 180px;
}

.show-description small {
  opacity: 1;
}

.first {
  background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover1.png?raw=true");
}

.second {
  background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover2.jpg?raw=true");
}

.third {
  background-image: url("https://github.com/gaebar/js-test/blob/master/img/cover3.png?raw=true");
}

.price {
  float: right;
}

@media (max-width: 500px) {
  h1 {
    font-size: 21px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 17px;
    margin: 0;
  }
 
  p {
    font-size: 20px;
    line-height: 24px;
  }
  .show-description small {
    font-size: 15px;
    padding-right: 10px;
  }
}

footer {
  text-align: center;
  padding: 0px;
  bottom: 0px;
  width: 100%;
  padding-bottom: 10px;
  border-top: 3px solid #00008b0b;
  padding-top: 24px;
  background-color: #ffffff7a;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: 0px 10px 0px 10px;
}

a:hover {
  text-decoration: underline;
}

.footer-love em {
  font-style: normal;
  color: #840f0f;
}
